[submodule ".config/awesome/lib/rubato"]
	path = .config/awesome/lib/rubato
	url = https://github.com/andOrlando/rubato

[submodule ".config/nvim/lib/github-markdown-css"]
    path = .config/nvim/lib/github-markdown-css
    url = https://github.com/sindresorhus/github-markdown-css
