# Ignore everything
/*

# Except for files and folders we want to track
!.config
.config/*
!.config/awesome
!.config/nvim/*
!.config/alacritty
!.config/ranger
!.config/macchina

!.gitignore
!.gitmodules
!.zshrc
!.xprofile
!.tmux.conf

